<h1>Estudantes</h1>
<a class="btn btn-primary"  [routerLink]="['/estudantes/cadastrar']" role="button">Novo Cadastro</a>


<div class="card mt-3 mb-3">
  <div class="card-header">
    Lista
  </div>
  <div class="card-body">

    <table class="table table-sm">
      <thead>
          <tr>
              <th>Nome</th>
              <th>E-mail</th>

              <th>Ações</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of lista">
              <td><span>{{ item.nomeCompleto }}</span></td>
              <td><span>{{ item.email }}</span></td>

              <td>
                  <a class="btn btn-success btn-sm" [routerLink]="['/estudantes', item.id]" > Mais Informações </a>
              </td>
          </tr>
      </tbody>
  </table>


  </div>
</div>
