<h1>Estudantes</h1>

<div class="card">
  <div class="card-header">
    Cadastrar
  </div>
  <div class="card-body">

    <form id="add-form" (ngSubmit)="saveEstudante(form)" #form="ngForm">
      <div class="mb-3">
          <label for="nomeCompleto" class="form-label"> Nome Completo </label>
          <input id="nomeCompleto" class="form-control" type="text" [(ngModel)]="estudante.nomeCompleto" name="nomeCompleto" placeholder="Digite o nome" >
      </div>

      <div class="mb-3">
          <label for="email" class="form-label"> E-mail </label>
          <input id="email" class="form-control" type="email" [(ngModel)]="estudante.email" name="email" #nome="ngModel" placeholder="Digite o e-mail" >
      </div>

      <div class="mb-3">
        <button class="btn btn-primary btn-sm" type="submit"> Salvar </button>
        <a class="btn btn-warning btn-sm" [routerLink]="['/estudantes']" > Cancelar </a>
      </div>
  </form>


  </div>
</div>
